{# Remplacer cette partie dans votre navbar #}

{#

<form class="navbar-form navbar-right">
    <div class="form-group">
        <input type="text" placeholder="Recherche" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">OK</button>
</form>

#}

<ul class="nav navbar-nav navbar-right">
    <li>
        <form class="navbar-form">
            <div class="form-group">
                <input type="text" placeholder="Recherche" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">OK</button>
        </form>
    </li>

    {# if not login #}
    <li>
        <a href="#">Se connecter</a>
    </li>

    {# if login #}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Username <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Mon compte</a></li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#">Se deconnecter</a>
            </li>
        </ul>
    </li>
</ul>
